@import 'tailwindcss';

@theme {
  --color-primary: oklch(54.7% 0.17 138.3);
  --color-secondary: oklch(73.04% 0.172 135.52);
}

* {
  outline: none !important;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: 'Inter', ui-sans-serif, system-ui, sans-serif;
  overflow-x: hidden;
}

button {
  cursor: pointer;
}

.shadow-circle {
  box-shadow: 0px -15px 200px 130px #33860080;
  border-radius: 50%;
  width: 1px;
  height: 1px;
  position: absolute;
  z-index: -10;

  &.white {
    box-shadow: 0px -15px 200px 130px #ffffff4d;
    z-index: 0;
  }
}

@media screen and (max-width: 768px) {
  .shadow-circle {
    box-shadow: 0px -5px 70px 40px #33860080;

    &.white {
      box-shadow: 0px -5px 70px 40px #ffffff4d;
    }
  }
}
